<div *ngIf="authService.user | async">
  <button id="btnMenu" class="menu" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authService.user | async">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu class="my-menu" #menu="matMenu">
    <button mat-menu-item (click)="goToNew()">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Muro</span>
    </button>
    <button mat-menu-item routerLink="/alimentacion">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Alimentación</span>
    </button>
    <button mat-menu-item routerLink="/cuidados">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Cuidados</span>
    </button>
    <button mat-menu-item routerLink="/directorio">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Directorio Veterinario</span>
    </button>
    <button mat-menu-item routerLink="/adopciones">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Adopciones</span>
    </button>
    <button mat-menu-item (click)="onLogout()" routerLink="/">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</div>