<div *ngIf="authService.user | async">
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu class="my-menu" #menu="matMenu">
    <button mat-menu-item routerLink="/muro">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Muro</span>
    </button>
    <button mat-menu-item routerLink="/alimentacion">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Alimentación</span>
    </button>
    <button mat-menu-item>
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Cuidados</span>
    </button>
    <button mat-menu-item>
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Directorio Veterinario</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon><i class="material-icons">
          pets
      </i></mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</div>