<div class="row" *ngIf="authService.user | async">
  <mat-card class="directorio-card col-lg-3 col-md-12 col-xs-12">
    <h2 class="title-card">Veterinaria Glovet</h2>
    <img src="../../assets/img/glovet.jpg" class="img-card">
    <p class="text-card">Horario 10:00 - 19:00 - Consultas Veterinarias, animales exóticos, venta de accesorios, fármacos,alimentos y peluquerías canina INFORMACIÓN DE CONTACTO: consultaglovet@hotmail.com 22506 4426</p>
  </mat-card>
  
  <mat-card class="directorio-card col-lg-3 col-md-12 col-xs-12">
    <h2 class="title-card">Clínica veterinaria Gran Avenida</h2>
    <img src="../../assets/img/veterinariaGranAvenida.jpg" class="img-card">
    <p class="text-card">Atencion 24 horas- Especialidades: Oftalmología, odontología, cirugía, rayos X - Dirección: Avenida José Miguel Carrera N° 7267 La Cisterna Paradero 20, Gran Avenida - Santiago de Chile. Contacto: 22 558 09 43 / 22 521 36 14</p>
  </mat-card>
</div>