<app-welcome class="welcome"></app-welcome>
<div class="row" *ngIf="authService.user | async">
  <mat-card class="adopciones-card col-lg-3 col-md-12 col-xs-12">
    <h2 class="title-card">Tinta</h2>
    <img src="../../assets/img/Tinta.jpg" class="img-card">
    <p class="text-card">Tinta es una hermosa perrita de un año de edad de tamaño mediano, negrita con patitas blancas, es muy inteligente y aprende rápido. Es full juguetona, con harta energía y se muere de ganas de acompañar a su familia a subir cerros, trotar y todo tipo de aventuras! Se lleva regio con otros perritos, es muy sociable, cariñosa y entretenida 🙂 cambiate la vida y adopta a esta chiquitina! Contacto al Whatsapp: +56966463044</p>
  </mat-card>
  
  <mat-card class="adopciones-card col-lg-3 col-md-12 col-xs-12">
    <h2 class="title-card">Tuareg</h2>
    <img src="../../assets/img/tuareg.jpg" class="img-card">
    <p class="text-card">Tuareg tiene 5 años, es de tamaño pequeño-mediano, de orejas peludas y tremenda perso! es muy buen perro; es alegre, sociable, super dócil y esta aprendiendo a pasear con correa. Este caballero ya está castrado,es amistoso con otros perros y podría vivir sin dramas en casa o en depa, lo importante es que lo saquen a pasear porque le gustan las caminatas y conocer nuevos lugares. Anímate y dale a Tuareg un dulce hogar! Contacto al Whatsapp: +56942826660</p>
  </mat-card>
  
  <mat-card class="adopciones-card col-lg-3 col-md-12 col-xs-12">
    <h2 class="title-card">Daredevil</h2>
    <img src="../../assets/img/Daredevil.jpg" class="img-card">
    <p class="text-card">Daredevil se llama este pequeñin de 3 años, es de color café claro, bien peludito y lamentablemente producto de un atropello ahora es cieguito del ojo izquierdo. Es tímido, regalón, le gusta que lo peinen y se adapta rápidamente a nuevos ambientes; en su hogar temporal hace su vida sin problemas y encuentra solito el arenero y comida. Se lleva bien con niños, ya esta castrado y si existe un gatito en el mundo que necesita amor, es este! escríbenos para más info :)! Contacto al Whatsapp: +56950126078</p>
  </mat-card>
  </div>