<div *ngIf="authService.user | async">
<div class="container">
<form>
  <div class="col-lg-12 col-md-12 col-xs-12 form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="¿Qué quieres publicar?"></textarea>
  </div>
  <div class="row">
    <div class="btns-publish center col-md-12 col-lg-12">
      <div class="input-file input-group mb-3 col-xs-12 col-md-6 col-lg-10">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
        </div>
      </div>
      <button type="button" class="btn btn-dark btn-publish col-xs-12 col-lg-2">Publicar</button>
    </div>
  </div>
</form>
</div>
</div>