.form-publish {
  background-color: #f4e1d0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.welcome {
  position: absolute;
  left: 1%;
  font-size: 200%;
}

textarea {
  resize: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.btn-publish {
  font-size: 80%;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  margin-top: 2%;
}

@media (min-width: 1200px) {
  .form-publish{
    font-size: 130%;
  }

  .welcome {
    font-size: 130%;
    margin-left: 1%;
  }
}

@media (max-width: 1200px) {
  .form-publish{
    font-size: 100%;
    margin-top: 10%;
  }

  .welcome {
    font-size: 100%;
    margin-left: 1%;
  }

  .btn-publish {
    font-size: 80%;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
  }
}
